<div class="container-fluid">
    <div class="row">
        <div class="col-md-6">
            <mat-card>
                <!-- <mat-card-header>
                    <h2>header</h2>
                </mat-card-header> -->
               
                <mat-card-content class="card">
                    <img src="../../../assets/image/client-1.jpg">
                    <h1>A K M Fazlul Haque</h1>

                    <p class="title">CEO & Founder, Example</p> 
                    <p><strong>Email:</strong> akm@gmail.com </p>
                    <div style="margin: 24px 0;">
                        <a href="#"><i class="fa fa-dribbble"></i></a> 
                        <a href="#"><i class="fa fa-twitter"></i></a>  
                        <a href="#"><i class="fa fa-linkedin"></i></a>  
                        <a href="#"><i class="fa fa-facebook"></i></a> 
                    </div>

                </mat-card-content>
               
                <mat-card-actions style="background-color: rgb(126, 45, 30);">
                    <button mat-button>Contact</button>
                </mat-card-actions>
               
            </mat-card>
        </div>
        <div class="col-md-6">
            <div class="col-6"> 
                <div class="card2"> 
                <h2 class ="member-details-title " >Member Details</h2>
                <hr class="style3">
                 <p><strong>Member No:</strong> ME-025 </p>
                 <p><strong>Department:</strong> ME-025 </p>
                 <p><strong>Hall:	</strong>   </p>
                 <p><strong>Room no:	</strong>  </p>
                 <p><strong>Birth date:	</strong>  </p>
                 <p><strong>Mobile no:	</strong>01711-426603</p>
                 <p><strong>Residence:	</strong>3/7 Prominent Housing, Sheikh-er-Tek, Mohammadpur, Dhaka-1207</p>
                 <p><strong>Organization:	</strong> ME-025 </p>
                 <p><strong>Office:		</strong>  </p>
                 <p><strong>Phone Office:</strong> ME-025 </p>
                 <p><strong>Res:</strong> ME-025 </p>
                 <p><strong>Blood group:		</strong> ME-025 </p>
                 <p><strong>Life Member </strong> No </p>
                 <p><strong>(LM):	</strong>  </p>
                 <p><strong>Hobby:</strong>   </p>
                 <p><strong>Country:</strong>  Bangladesh </p>
                 <p><strong>Married On:	</strong>   </p>
                 <h5 style="text-align: center;"> Spouse Information   </h5>
                 <p><strong>Spouse:		</strong>   </p>
                 <p><strong>Blood Group:		</strong>   </p>
                 <p><strong>Profession:	</strong>   </p>
                 <p><strong>Designation:</strong>   </p>
                 <p><strong>Organization:	</strong>   </p>
                 <h5 style="text-align: center;"> Children Information   </h5>
                 <p><strong>Name:		</strong>   </p>
                 <p><strong>Blood Group:		</strong>   </p>
                </div>
              </div>
        </div>
    </div>
</div>